.DS_Store

# dependencies
/node_modules

# production
/dist
/search/dist

# testing
/coverage


.env

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
../yarn.lock
../package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__
.vscode
